@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

/*// <uniquifier>: Use a unique and descriptive class name*/
/*// <weight>: Use a value from 200 to 900*/

html {
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  position: relative;
}

.content {
  margin: auto;
  min-height: calc(100% - 40px);
  width: 80%;
  padding: 20px;
  background-color: #ececec;
}
