.post-header {
  justify-content: space-between;
}

.post-header,
.post-tags {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.post-image {
  float: left;
  width: 100%;
  max-width: 400px;
  min-width: 160px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.post-author-image {
  width:50px;
  height:50px;
  border-radius:50%;
  overflow:hidden;
  margin-right: 20px;
}

.post-info {
  margin-right: 20px;
}

.post-date {
  font-style: italic;
  font-size: 0.8em;
}

.post-author-name {
  font-weight: 750;
  font-size: 1.1rem;
  margin-bottom: -5px;
}

.post-tags .tag {
  padding: 5px;
  margin: 0 3px;
  background-color: #4ac1f7;
  border-radius: 7px;
  font-weight: 600;
  color: #ffffff;
}

.post-section {
  min-height: 540px;
}

.leave-comment {
  text-align: center;
}

.leave-comment-form {
  /*margin: auto;*/
  margin-bottom: 10px;
}

.leave-comment-form-bottom {
  max-width: 95%;
  margin: auto;
}

textarea#id_comment_content {
  max-width: 600px;
  min-width: 200px;
  height: 100px;
  width: 95%;
  border-width: 2px;
  border-color: #80b5e4;
  border-radius: 5px;
  resize: none;
}

input#id_comment_author {
  width: 143px;
  min-width: 125px;
  height: 25px;
  border-width: 2px;
  border-color: #8bbed6;
  border-radius: 5px;
}

.leave-comment-button {
  width: 150px;
  min-width: 125px;
  height: 30px;
  border-radius: 8px;
  border-width: 1px;
  background-color: #2a617d;
  color: #cee9ff;
  font-size: 0.85rem;
  font-weight: bold;
}

.leave-comment-button:hover {
  background-color: #4498c3;
  border-color: #1b4e67;
}

.leave-comment-button:active {
  background-color: #113e54;
}

textarea#id_comment_content:focus,
input#id_comment_author:focus {
  outline: none !important;
  border:2px solid #4498c3;
  box-shadow: 0 0 5px #719ECE;
}
