{% extends 'base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'posts/css/post_style.css' %}">
{% endblock links %}

{% block title %}{{ blog_post.title|title }}{% endblock title %}
{% block content %}
    <div class="post-section">
    <div class="post-header">
        <h1>{{ blog_post.title|upper }}</h1>
        <form action="{{ request.path }}" method="post">
            {% csrf_token %}
            {% if blog_post.id|stringformat:"i" in read_later_posts %}
                <input type="hidden" name="remove_id" value="{{ blog_post.id }}">
                <button class="container-button container-button-remove" title="remove from 'Read Later'"></button>
            {% else %}
                <input type="hidden" name="add_id" value="{{ blog_post.id }}">
                <button class="container-button container-button-add" title="add to 'Read Later'"></button>
            {% endif %}
        </form>
    </div>
        <div class="post-header">
            <div class="post-header">
                <img src="{% if blog_post.author.image %}
                            {{ blog_post.author.image.url }}
                          {% else %}
                            {% static '/posts/img/default_author.png' %}
                          {% endif %}" alt="" class="post-author-image">
    
                <div class="post-info">
                    <div class="post-author-name">{{ blog_post.author }}</div>
                    <div class="post-date">{{ blog_post.date_created|date }}</div>
                </div>
            </div>
            <div class="post-tags">
                {% for tag in blog_post.tags.all %}
                    <div class="tag">
                        {{ tag.caption }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="post-body">
            <img alt="" class="post-image" src={{ blog_post.image.url }}>
            <p>{{ blog_post.content|safe }}</p>
        </div>
    </div>
    <div class="comments-section">
        <div class="leave-comment">
            <form action="{{ request.path }}" method="POST" class="leave-comment-form">
                {% csrf_token %}
                {{ form.comment_content }}
                <div class="leave-comment-form-bottom">
                    {{ form.comment_author }}
                    <button type="submit" class="leave-comment-button">Leave a Comment</button>
                </div>
            </form>
        </div>
            <div class="comments">
            {% for comment in blog_post.comments.all|dictsortreversed:"date_created" %}
                <div class="comment">
                    <div class="comment-meta">
                        <div class="comment-author">{{ comment.comment_author }}</div>
                        <div class="comment-date">{{ comment.humanized_td }}</div>
                    </div>
                    <div class="comment-content">{{ comment.comment_content|safe }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}