{% extends 'base.html' %}
{%  load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'posts/css/posts_style.css' %}">
{% endblock links %}

{% block title %}
    {% if header %}
        {{ header }}
    {% else %}
        All Posts
    {% endif %}
{% endblock title %}

{% block content %}
    <h1>
        {% if header %}
            {{ header|upper }}
        {% else %}
            ALL POSTS
        {% endif %}
    </h1>
    {% for blog_post in blog_posts %}
        <div class="post-preview-block">
            <img alt="" width="50" src={{ blog_post.image.url }}>

            <div class="post-preview-excerpt">
                <h3><a href="{% url 'post' blog_post.slug %}">{{ blog_post.title }}</a></h3>
                <p>{{ blog_post.excerpt|truncatewords:50|safe }}
            </div>
        </div>
    {% endfor %}
{% endblock content %}